table.mytable {
  border: 2px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5px;
  width: 50%;
}

th {
  background-color: lightgray;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

nav ul{
  list-style-type: none;
  margin:10px;

}
nav li{
  display: inline;
  text-align: center;
  padding: 14px 16px;
}
nav a{
  display:inline-block;
}
