<!DOCTYPE html>
<html>
  <head>
    <title>Sebsacuna - 2018</title>
  </head>
  <body>
    {{ content }}
    <p>This is my personal website, created for educational purposes</p>
    <p>My objective is to develop the website from scratch, adding more and
    more functionality while I learn new stuff. Among the stuff I would like
    to learn using this website:</p>
    <ul>
      <li>html</li>
      <li>css</li>
      <li>Git</li>
      <li>Flask</li>
    </ul>
    <p>I would like also to use online visualization like Dash (which I already
    have implemented in the past) and hopefully, some Machine Learning.</p>
    <p>I hope to put some entries in order to remember stuff, or tricks to do stuff quicker</p>
  </body>
</html>
